{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if pesan %}
                <div class="alert alert-success">{{ pesan }}</div>
            {% endif %}

            <form action="{% url 'tambah_buku' %}" method="post">
                {% csrf_token %}
                <!-- protect data inputan -->

                {{ form.as_p }}
                <!-- form sebagai paragraf -->

                <!-- button tambah kategori -->
                <a href="{% url 'tambah_kategori' %}" class='btn btn-primary'>Tambah Kategori</a> <br><br>
                
                <button class="btn btn-primary">Tambah Buku</button>

                <a href="{% url 'buku' %}" class='btn btn-danger'>Kembali</a>

            </form>
        </div>
    </div>
</div>

<!-- input -> button tambah buku -> url tambah-buku -> view (ngirim data ke database) -->

{% endblock %}